{% extends "base.html" %}
{% block page_title %}| BPMN Model Editor{% endblock %}
{% block page_stylesheet %}
<link rel="stylesheet" href="{{ url_for('static' , path='plugins/toastr/toastr.min.css') }}">
<!-- required modeler styles -->
<link rel="stylesheet" href="https://unpkg.com/bpmn-js@7.0.1/dist/assets/diagram-js.css">
<link rel="stylesheet" href="https://unpkg.com/bpmn-js@7.0.1/dist/assets/bpmn-font/css/bpmn.css">

<!-- modeler distro -->
<script src="https://unpkg.com/bpmn-js@7.0.1/dist/bpmn-modeler.development.js"></script>
<script src="https://unpkg.com/bpmn-js-properties-panel@0.33.2/index.js"></script>
<script src="https://unpkg.com/camunda-bpmn-moddle@4.4.0/index.js"></script>
<!-- needed for this example only -->
<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>

<!-- example styles -->
<style>
  html,
  body,
  #canvas {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .diagram-note {
    background-color: rgba(66, 180, 21, 0.7);
    color: White;
    border-radius: 5px;
    font-family: Arial;
    font-size: 12px;
    padding: 5px;
    min-height: 16px;
    width: 50px;
    text-align: center;
  }

  .needs-discussion:not(.djs-connection) .djs-visual> :nth-child(1) {
    stroke: rgba(66, 180, 21, 0.7) !important;
    /* color elements as red */
  }

  #save-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }
</style>
{% endblock %}
{% block page_breadcrumb %} BPMN Model Editor{% endblock %}
{% block page_head_title %}BPMN Model Editor{% endblock %}
{% block body %}
<!-- Main content -->
<section class="content">

  <div class="container-fluid">
    <!-- /.container-fluid -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-chart-pie mr-1"></i>
          Viewer
        </h3>
        <button id="save-button">print to console</button>
      </div><!-- /.card-header -->
      <div class="card-body">
        <div class="tab-content p-0">
          <div id="canvas" Style="height: 600px"></div>
          <div id="properties"></div>

        </div>
        
      </div><!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}

{% block page_sidebar_content %}
<div class="p-3">
  <h5>Title</h5>
  <p>Sidebar content</p>
</div>
{% endblock %}
{% block page_scripts %}
<!-- page scripts-->
<script src="{{ url_for('static' , path='plugins/toastr/toastr.min.js') }}"></script>

<script>
  var diagramUrl = 'https://cdn.staticaly.com/gh/bpmn-io/bpmn-js-examples/dfceecba/starter/diagram.bpmn';

  // modeler instance
  var bpmnModeler = new BpmnJS({
    container: '#canvas',
    keyboard: {
      bindTo: window
    }
  });

  /**
   * Save diagram contents and print them to the console.
   */
  async function exportDiagram() {

    try {

      var result = await bpmnModeler.saveXML({ format: true });

      alert('Diagram exported. Check the developer tools!');

      console.log('DIAGRAM', result.xml);
    } catch (err) {

      console.error('could not save BPMN 2.0 diagram', err);
    }
  }

  /**
   * Open diagram in our modeler instance.
   *
   * @param {String} bpmnXML diagram to display
   */
  async function openDiagram(bpmnXML) {

    // import diagram
    try {

      await bpmnModeler.importXML(bpmnXML);

      // access modeler components
      var canvas = bpmnModeler.get('canvas');
      var overlays = bpmnModeler.get('overlays');


      // zoom to fit full viewport
      canvas.zoom('fit-viewport');

      // attach an overlay to a node
      overlays.add('SCAN_OK', 'note', {
        position: {
          bottom: 0,
          right: 0
        },
        html: '<div class="diagram-note">Mixed up the labels?</div>'
      });

      // add marker
      canvas.addMarker('SCAN_OK', 'needs-discussion');
    } catch (err) {

      console.error('could not import BPMN 2.0 diagram', err);
    }
  }


  // load external diagram file via AJAX and open it
  $.get(diagramUrl, openDiagram, 'text');

  // wire save button
  $('#save-button').click(exportDiagram);

  var propertiesPanelModule = require('bpmn-js-properties-panel'),
  // providing camunda executable properties, too
  propertiesProviderModule = require('bpmn-js-properties-panel/lib/provider/camunda'),
  camundaModdleDescriptor = require('camunda-bpmn-moddle/resources/camunda');

var bpmnModeler = new BpmnModeler({
container: '#js-canvas',
propertiesPanel: {
  parent: '#js-properties-panel'
},
additionalModules: [
  propertiesPanelModule,
  propertiesProviderModule
],
// needed if you'd like to maintain camunda:XXX properties in the properties panel
moddleExtensions: {
  camunda: camundaModdleDescriptor
}
});
</script>

{% endblock %}